.login_bg{ background-image:url(images/login_bg.jpg); background-repeat:no-repeat; background-size:cover;height:100%;width:100%;overflow:hidden;}
.navbar.background:after{ border-bottom:0px}
.background{ background-color:transparent !important}
.radius5{ border-radius:5px !important}
.radius35{ border-radius:35px !important}
.radius50{ border-radius:50px !important}
.mb15{ margin-bottom:15px}
.borderless{ border:0px !important}
.fize14{ font-size:14px}
.fize18{ font-size:18px}
.fize22{ font-size:22px}
.fize28{ font-size:28px}
.fize32{ font-size:32px}
.gray{ color:#999 !important}
.border_right{ border-right:1px dashed #ddd}
.border_left{ border-left:1px solid #ddd}
.p10{ padding-left:10px}
.col-center {
	-webkit-align-self: center;
	-moz-align-self: center;
	-ms-flex-item-align: center;
	align-self: center
}
.padding-t10{ padding-top:13px}

/*切换*/
.tab{ border-bottom:1px solid #ddd}
.tab ul{display: -webkit-flex!important;
display: -webkit-box;}
.tab ul li{-webkit-flex: 1!important;
-webkit-box-flex: 1;
word-wrap: break-word;
word-break: break-all; text-align:center; padding:10px 0px; font-size:16px}
.tab ul li.hover{ border-bottom:2px solid #0080ff; color:#0080ff}

.line-bg{background-image:url(images/line-bg.png); background-position:top center; background-repeat:repeat-x; width:100%; height:8px}
.line_bg{ background-image:url(images/line_bg.png); background-position:top center; background-repeat:repeat-x; width:100%; height:8px}
.user_tximg{ width:40px; height:40px; border-radius:50px; margin:10px 0; float:right}
.contact_left{ padding-right:30px}
.contact_right{ position:fixed; right:0px; top:20%}
.contact_right ul{ width:30px}
.contact_right ul li{ display:block; text-align:center;color:#3382da; line-height:18px; font-size:13px}
.gray_bg{ background-color:#eee !important}
.pjby span{ border-radius:35px; border:1px solid #ccc; padding:5px 10px; height:auto; overflow:hidden; display:inline-block; margin-top:5px; margin-right:5px; font-size:14px}
.pjby span.active{ border:1px solid #fb6307; color:#fb6307}
.dd_xl{ border:1px solid #ddd; padding:0px 10px; border-radius:35px; color:#999; font-size:14px}
.cfd_icon{ background-image:url(images/cfd_icon.png); background-repeat:no-repeat; background-position:10px center; background-size:12px 12px; padding-left:30px}
.zd_icon{ background-image:url(images/zd_icon.png); background-repeat:no-repeat; background-position:10px center; background-size:12px 12px; padding-left:30px}
.time_icon{ background-image:url(images/time.png); background-repeat:no-repeat; background-position:9px center; background-size:16px 16px; padding-left:30px}
.yhq_zk{ position:absolute; right:10px; top:10px}
.relative{ position:relative}
.xcq-bg{ background-image:url(images/xcq-bg.jpg); background-repeat:no-repeat; background-position:right bottom; background-size:180px; border-bottom:2px solid #F90}
.index_ul{ padding:10px; background-color:#fff; box-shadow:0px 0px 2px rgba(153,153,153,0.5); position:relative}
.index_ul li.item{ border:none; margin:0px; position:relative}
.index_ul li.item:after{content: ""; margin:0px; position:absolute; width:auto;height:1px; background-color:#ddd; left:25px; bottom:0px; right:0px}
.index_bottom{ position:absolute; bottom:15px; left:0px; right:0px}
.index_top{ width:50%; margin-bottom:2px; padding:10px 10px; height:auto; overflow:hidden; background-color:#fff; border-radius:25px 25px 0px 0px; box-shadow:0px 0px 2px rgba(153,153,153,0.5)}
.index_top ul{display: -webkit-flex!important;
display: -webkit-box;}
.index_top ul li{-webkit-flex: 1!important;
-webkit-box-flex: 1;
word-wrap: break-word;
word-break: break-all; text-align:center; padding:0px 0px; font-size:1.0rem; position:relative}
.index_top ul li.hover{ border:1px solid #ddd; border-radius:35px;}
.index_poastion{ position:absolute; right:20px; top:26px; width:36px; height:36px; line-height:36px !important; border-radius:50px; border:1px solid #ddd; text-align:center; background-color:#fff; color:#0080ff}
.jz_jt{ border:1px solid #ddd; border-radius:2px; box-shadow:0px 0px 2px rgba(153,153,153,0.5); background-color:#fff; padding:5px 8px; width:50%; margin-left:auto; margin-right:auto;}
.jt{ width:15px; height:15px;position: relative; margin-left:auto; margin-right:auto; bottom:1px}
.jt em{ width:100%; float:left}
.jt_1{ border:10px solid #fff; border-color:rgba(153,153,153,0.3) transparent transparent transparent;}
.jt_2{border:8px solid #fff; border-color:#fff transparent transparent transparent; margin-top:-20px; margin-left:2px;}
.dw_cl{ position:fixed; left:0px; right:0px}
.box_show{box-shadow:0px 2px 2px rgba(153,153,153,0.5);}
.no_background{ background:none}
.bule_bg{ background-color:#0080ff; padding:20px; color:#fff}
.bule-bg{ background-color:#61aefb; width:80px; height:80px; line-height:80px; display:inline-block; color:#fff}
.radius_l{ border-radius:35px 0px 0px 35px}
.radius_r{ border-radius:0px 35px 35px 0px}
.xzcx div{ position:relative}
.xzcx label .xzcx_img{ border:1px solid #ddd; width:80px; height:80px; border-radius:50px; background-color:#fff; margin-left:auto; margin-right:auto}
.xzcx label .xzcx_img img{ width:60px; margin-top:10px}

.xzcx label input.radio{-webkit-appearance: none; width:24px; height:24px;
	-moz-appearance: none;
	border: 0;
	outline: none;
	resize: none; display:inline-block; position:absolute; top:-5px; right:2px}
.xzcx label input.radio {
	background: url("images/c_checkbox_off.png") no-repeat left center;
	background-size: 20px 20px;
}
.xzcx label input:checked.radio {
	background: url("images/c_checkbox_on2.png") no-repeat left center;
	background-size: 20px 20px;
	color: #666;
}

.select_name{display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	display: flex; padding:10px}
label.item-input-wrapper input{ margin-top:0px}
label.item-input-wrapper{ margin-bottom:0px}


/*数量*/
.mui-numbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100px;
	height: 30px;
	padding: 0 30px;
	vertical-align: top;
	vertical-align: middle;
	border: solid 1px #bbb;
	border-radius: 3px;
	background-color: #efeff4
}
.mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn] {
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 30px;
	height: 100%;
	padding: 0;
	color: #555;
	border: none;
	border-radius: 0;
	background-color: #f9f9f9
}
.mui-numbox [class*=btn-numbox]:active, .mui-numbox [class*=numbox-btn]:active {
	background-color: #ccc
}
.mui-numbox [class*=btn-numbox][disabled], .mui-numbox [class*=numbox-btn][disabled] {
	color: silver
}
.mui-numbox .mui-btn-numbox-plus, .mui-numbox .mui-numbox-btn-plus {
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}
.mui-numbox .mui-btn-numbox-minus, .mui-numbox .mui-numbox-btn-minus {
	left: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}
.mui-numbox .mui-input-numbox, .mui-numbox .mui-numbox-input {
	display: inline-block;
	overflow: hidden;
	width: 100%!important;
	height: 100%;
	margin: 0;
	padding: 0 3px!important;
	text-align: center;
	text-overflow: ellipsis;
	word-break: normal;
	border: none!important;
	border-right: solid 1px #ccc!important;
	border-left: solid 1px #ccc!important;
	border-radius: 0!important
}

.file-selector{ background-color:#fff; padding:10px; text-align:center; margin-bottom:10px; color:#0e90d2; position:relative}
.file-selector input[type="file"] {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 0;
}
.home_icon{ padding-left:40px !important; background-image:url(images/cfd_icon.png); background-repeat:no-repeat; background-size:20px; background-position:10px center; border-right:1px solid #ddd; border-bottom:1px solid #ddd}
.company_icon{ padding-left:40px !important; background-image:url(images/cfd_icon.png); background-repeat:no-repeat; background-size:20px; background-position:10px center;border-bottom:1px solid #ddd}
.margin-8{ margin-right:8px !important}

.white h2{ color:#fff !important}
.background_img{background-repeat:no-repeat; background-position:center center; background-size:cover; height:60px; width:60px; border-radius:50px; margin-left:auto; margin-right:auto}
.btn-primary{ background-color:#0080ff; border:1px solid #0080ff; color:#fff}
.border-l{ border-right:1px solid #f4f4f4}