.usercenterPage.AppPage{
	flex-grow: 0;
	background: #FFF;
	position: relative;
	flex-grow: 1;
}
.usercenterPage .head{
    text-align: center;
    padding: 15px 0;
    background: #ff9537;
   	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f7ca6c), to(#ff9537));
   	display: flex;
   	align-items: center;
   	flex-direction: column;
   	color: #FFF;
   	padding-top: 35px;
}
.usercenterPage .head span{
	display: block;
}
.usercenterPage .head img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-bottom: 5px;
	border:3px solid rgba(255,255,255,.4);
}
.usercenterPage .name {
	font-size: 16px;
}
.usercenterPage .list .weui-cells{
	margin-top: 0;
}
.usercenterPage .list .weui-cells .weui-cell .weui-cell__hd {
	display: flex;
	align-items: center;
}
.usercenterPage .list .weui-cells .weui-cell .weui-cell__hd img{
	width: 28px;
	margin-right: 5px;
}
.usercenterPage .list .weui-cells .weui-cell:before,
.usercenterPage .list .weui-cells:after,
.usercenterPage .list .weui-cells .weui-cell_access .weui-cell__ft:after{
	content: none;
}



.list.gotodriver{
	padding:20px;
	background: #FFF;
	border-top:1px solid #EEE;
}
.list.gotodriver > img{
	width: 100%;
}
.list.gotodriver > div{
	display: -webkit-box;
    display: -ms-flexbox;
   	display: flex;
   	display: -webkit-flex;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.list.gotodriver > div img{
	width: 150px;
	height: auto;
	flex-grow: 1;
	margin: 10px;
	border-radius: 4px;
	align-self: center;
}
