  mongodb:
    image:  mongo:3.4
    restart: always
    expose:
       - "27017"
    volumes:
       - /etc/localtime:/etc/localtime:ro
       - "/var/db100/dbdata:/data/db -d"
    ports:
       - "27017:27017"
